body,html,p,ul,li,dl,dt,dd,input,form,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: 0;
}

ul{
	list-style: none;
}
i,em{
	font-style: normal;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


/*******1、头部***************/
#header{
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}
#header .header-cont{
	width: 950px;
	height: 30px;
	margin: 0 auto;
}

/*头部左边*/
#header .header-l{
	width: 480px;
	height: 30px;
	float: left;
}
#header .header-l li{
	float: left;
	margin-top: 5px;
	font-size: 14px;
	color: #868686;
}
#header a:hover{
	text-decoration: underline
}
#header .header-l li a{
	color: #868686;
	margin: 0 20px;
	display: inline-block;
}
#header .header-l .liBg{
	background: url(../img/header-1.png) no-repeat 7px center;
}
#header .header-l li span{
	display: inline-block;
	height: 16px;
	width: 22px;
}


/*头部右边*/
#header .header-r{
	width: 390px;
	height: 30px;
	float: right;
}
#header .header-r li{
	float: left;
	font-size: 14px;
	color: #868686;
	padding: 0 15px 0;
	margin-top:5px ;
	text-align: center;
}
#header .header-r .shop{
	padding-left: 30px;
	background: url(../img/header-3.png) no-repeat 5px center;
}
#header .header-r li a{
	font-size: 14px;
	color: #868686;
	margin-right: 10px;
}
#header .header-r .serve{
	position: relative;
}
#header .header-r .help{
	width: 190px;
	height: 120px;
	position: absolute;
	left: -105px;
	top: 20px;
	border: 1px solid gray;
	padding: 5px;
	background: antiquewhite;
	display: none;
}
#header .header-r .help ul{
	width: 190px;
	height: 120px;
}
#header .header-r .help ul li{
	width: 150px;
	float: left;
}
#header .header-r .help h3{
	line-height: 40px;
	border-bottom: 1px dashed cornflowerblue;
}
#header .header-r .help h3 a{
	font-size: 14px;
	margin: 5px;
}
#header .header-r .help h3 a:hover{
	color: #ff6600;
}
#header .header-r .help .call{
	float: left;
	width: 17px;
	height: 40px;	
}
#header .header-r .help .call span{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-top: 10px;
	background: url(../img/indexicon.png) no-repeat 0 -302px;
}
#header .header-r .help p{
	float: left;
	width: 120px;
	font-size: 13px;
}
#header .header-r .help .emali{
	height: 14px;
	font-size: 12px;
	margin-left: 10px;
	padding-left: 10px;
	background:url(../img/indexicon.png) no-repeat 0 -322px ;
}
#header .header-r .language{
	width:60px;
	height: 20px;
	display: block;
	overflow: hidden;
	border: 1px solid gray;
	background: url(../img/arrow.png) no-repeat 45px center;
}

#header .header-r .language ul{
	width: 60px;
	height: 100px;
}
#header .header-r .language a{
	margin: 0;
}
#header .header-r .language li{
	float: left;
	padding: 0;
	margin: 0;
}
#header .header-r .language li a{
	margin: 0 5px;
}


/*********2、搜索************/
#search{
	width: 100%;
	border-bottom:1px solid #ff6600;
}
#search .search-cont{
	width: 950px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
#search .log{
	width: 121px;
	height: 54px;
	float: left;
	margin: 13px 10px;
}

/*分站*/
#search .market{
	width: 56px;
	height: 26px;
	float: left;
	background: url(../img/indexicon.png) -65px -445px;
	margin-top: 40px;
	position: relative;
}
#search .market span{
	width: 56px;
	height: 26px;
	display: block;
	color: gray;
}
#search .market ul{
	width: 300px;
	background: white;
	padding: 5px;
	position: absolute;
	top: 26px;
	left: -1px;
	display: none;
	border: 1px solid gray;
}
#search .market ul h3{
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: gray;
	border-bottom: 1px solid cornflowerblue;
}
#search .market ul .specialized a{
	display: inline-block;
	width: 40px;
	font-size: 12px;
	color: black;
	padding: 5px;
	text-align: center;
}
#search .market ul .specialized a:hover{
	background: #ff6600;
	color: white;
}

#search .market ul .overseas a{
	color: black;
	display: inline-block;
	width: 70px;
	height: 12px;
	line-height: 12px;
	padding-left: 18px;
	margin: 8px 0;
}
#search .market ul .overseas a:hover{
	text-decoration: underline;
	color: olive;
}
#search .market ul .overseas .janpan{
	background: url(../img/indexicon.png) no-repeat -460px -48px;
}
#search .market ul .overseas .russian{
	background: url(../img/indexicon.png) no-repeat -460px -72px;
}
#search .market ul .overseas .korea{
	background: url(../img/indexicon.png) no-repeat -460px -24px;
}
#search .market ul .overseas .spain{
	background: url(../img/indexicon.png) no-repeat -460px 0;
}
#search .market ul .overseas .italy{
	background: url(../img/indexicon.png) no-repeat -460px -60px;
}
#search .market ul .overseas .mexico{
	background: url(../img/indexicon.png) no-repeat -460px -36px;
}
#search .market ul .overseas .morocco{
	background: url(../img/indexicon.png) no-repeat -460px -12px;
}


/*搜索栏*/
#search .find{
	width: 400px;
	height: 34px;
	border: 2px solid #ff6600;
	position: absolute;
	top: 23px;
	left: 240px;
}
#search .find .find-cont{
	float: left;
}
#search .find .find-cont span{
	float: left;
	width: 17px;
	height: 34px;
	background: url(../img/indexicon.png) no-repeat 0 -470px;
}
#search .find .find-cont div{
	width: 62px;
	height: 70px;
	padding-top:10px ;
	/*border: 1px solid gray;*/
	position: absolute;
	left: 0;
	top: 30px;
}
#search .find .find-cont ul{
	width: 60px;
	height: 60px;
	border: 1px solid #6495ED;
	padding: 5px 0;
	display: none;
}
#search .find .find-cont ul li{
	width: 60px;
	height: 20px;
	
}
#search .find .find-cont ul li a{
	display: block;
	width: 60px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	color: #868686;
	background: white;
	margin: 0;
	padding: 0;
}
#search .find .find-cont ul li a:hover{
	background: gainsboro;
	color: #FF6600;
}
#search .find .find-cont a{
	float: left;
	width: 21px;
	height: 21px;
	margin-top: 6px;
	margin-right: 6px;
	background: url(../img/indexicon.png) no-repeat 0 -338px;
}
#search .find .find-cont b{
	width: 60px;
	height: 34px;
}
#search .find .find-cont b a{
	width: 62px;
	height: 34px;
	color: white;
	background: #FF6600;
	margin: 0;
	text-align: center;
	line-height: 34px;
}
#search .find .find-cont .text{
	float: left;
	width: 294px;
	height:34px;
	border: 0;
	font-size: 18px;
}
#search .find b{
	float: left;
}

/*登录、注册、排行榜*/
#search .sction4{
	width: 230px;
	height: 34px;
	float: right;
	margin-top: 23px;
}
#search .sction4 ul{
	width: 300px;
	height: 34px;
}
#search .sction4 ul li{
	width: 70px;
	height: 34px;
	float: left;
	line-height: 34px;
}
#search .sction4 .logIn a{
	color: #FF6600;
}
#search .sction4 .logIn a span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/indexicon.png) no-repeat -100px -360px;
}
#search .sction4 .register{
	color: lightblue;
}
#search .sction4 .register a{
	margin-left: 15px;
	color: #868686;
}
#search .sction4 .register a:hover{
	text-decoration: underline;
}
#search .sction4 .rank{
	font-size: 14px;
}
#search .sction4 .rank a span{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	background: url(../img/indexicon.png) no-repeat -100px -400px;
}
#search .sction4 .rank a{
	color: gray;
}
#search .sction4 .rank a:hover{
	color: #FF6600;
}


/******3、导航**************/
#nav{
	width: 100%;
	border-bottom: 1px solid cornflowerblue;
}
#nav .nav-cont{
	width: 950px;
	height: 40px;
	margin: 0 auto;
}
#nav .nav-cont ul li{
	float: left;
	padding: 8px;
}
#nav .nav-cont ul .nav-li:hover{
	background: cornflowerblue;
}
#nav .nav-cont ul li a{
	color: black;
	font-size: 18px;
}
#nav .nav-cont ul .home{
	background: #FF6600;
}
#nav .nav-cont ul .home a{
	color: white;
}
#nav .nav-cont .commodity span{
	display: inline-block;
	width: 10px;
	height: 7px;
	margin-bottom: 6px;
	background: url(../img/indexicon.png) no-repeat -105px -428px;
}
#nav .nav-cont .commodity:hover{
	background: white;
	border-right: 1px solid #FF6600;
}
#nav .nav-cont .commodity{
	position: relative;
}
#nav .nav-cont .commodity li:hover{
	background: gainsboro;
}

/*分类菜单*/
#nav .nav-cont .menu{
	width: 240px;
	padding: 5px;
	border: 1px solid #FF6600;
	position: absolute;
	left: -52px;
	top: 40px;
	display: none;
	background: blanchedalmond;
}
#nav .nav-cont .menu li{
	width: 220px;
	height: 60px;
	border-bottom: 1px dashed blue;
}
#nav .nav-cont .menu li a:hover{
	text-decoration: underline;
}
#nav .nav-cont .menu h3{
	font-size: 14px;
	line-height: 30px;
}
#nav .nav-cont .menu h3 b{
	float: right;
}
#nav .nav-cont .menu a{
	font-size: 11px;
	margin-right: 3px;
}

/*二级菜单*/
#nav .nav-cont .secMenu{
	width: 280px;
	padding: 5px 10px;
	border: 1px solid #FF6600;
	position: absolute;
	left: 199px;
	top: 40px;
	display: none;
	background: blanchedalmond;
}
#nav .nav-cont .secMenu li{
	width: 260px;
	height: 60px;
	border-bottom: 1px solid cornflowerblue;
}
#nav .nav-cont .secMenu li .title{
	font-size: 14px;
	line-height: 30px;
}
#nav .nav-cont .secMenu li .shops{
	display: inline-block;
	width: 260px;
	height: 30px;
	line-height: 30px;
	background: none;
}
#nav .nav-cont .secMenu li .shops a{
	font-size: 14px;
	margin-right: 3px;
}
#nav .nav-cont .secMenu li:hover{
	background: none;
}
#nav .nav-cont .secMenu li .shops a:hover{
	background: deepskyblue;
	text-decoration: underline;
}

/*导航右*/
#nav .nav-cont .nav-r{
	float: right;
	position: relative;
}
#nav .nav-cont .nav-r li{
	height: 20px;
	padding: 10px 2px;
}
#nav .nav-cont .nav-r a{
	font-size: 14px;
	color: black;
	margin: 0;
}
#nav .nav-cont .nav-r a:hover{
	color: #FF6600;
	text-decoration: underline;
}

/*采购*/
#nav .nav-cont .nav-r .buy span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/indexicon.png) no-repeat -103px -452px;
}
#nav .nav-cont .nav-r .buy{
	position: relative;
}
#nav .nav-cont .nav-r .buy:hover{
	background: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#nav .nav-cont .nav-r .buy .buy-cont{
	width: 47px;
	position: absolute;
	left: -1px;
	top: 30px;
	display: none;
}
#nav .nav-cont .nav-r .buy .buy-cont li{
	width: 47px;
	height: 25px;
	border: 1px solid gray;
	border-top:0;
	background: white;
	padding: 0;
	margin: 0;
}
#nav .nav-cont .nav-r .buy .buy-cont li a{
	display: block;
	width: 47px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
}

/*外贸服务*/
#nav .nav-cont .nav-r .trade span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/indexicon.png) no-repeat -103px -452px;
}
#nav .nav-cont .nav-r .trade{
	position: relative;
}
#nav .nav-cont .nav-r .trade:hover{
	background: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#nav .nav-cont .nav-r .trade .trade-cont{
	width: 75px;
	border: 1px solid gray;
	border-top:0;
	position: absolute;
	left: -1px;
	top: 30px;
	display: none;
}
#nav .nav-cont .nav-r .trade .trade-cont li{
	width: 75px;
	height: 25px;
	background: white;
	padding: 0;
	margin: 0;
}
#nav .nav-cont .nav-r .trade .trade-cont li a{
	display: block;
	width: 75px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
}
/*商铺服务*/
#nav .nav-cont .nav-r .shopServe span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/indexicon.png) no-repeat -103px -452px;
}
#nav .nav-cont .nav-r .shopServe {
	position: relative;
}
#nav .nav-cont .nav-r .shopServe:hover{
	background: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#nav .nav-cont .nav-r .shopServe .shopServe-cont{
	width: 75px;
	border: 1px solid gray;
	border-top:0;
	position: absolute;
	left: -1px;
	top: 30px;
	display: none;
}
#nav .nav-cont .nav-r .shopServe .shopServe-cont li{
	width: 75px;
	height: 25px;
	background: white;
	padding: 0;
	margin: 0;
}
#nav .nav-cont .nav-r .shopServe .shopServe-cont li a{
	display: block;
	width: 75px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
}
