body,html,p,ul,li,input,form,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: 0;
}

ul{
	list-style: none;
}
i,em{
	font-style: normal;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

/***1、头部****/
#header{
	width: 100%;
}
#header .header-cont{
	width: 990px;
	height: 70px;
	margin: 0 auto;
}
#header .header-cont img{
	float: left;
}

/***2、导航****/
#nav{
	width: 100%;
}
#nav .nav-cont{
	width: 990px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 1px #6495ED;
}
#nav .nav-cont ul{
	width: 990px;
	background: #f0f2f5;
	border: 1px solid white;
	border-radius: 8px;
}
#nav .nav-cont .li1{
	background: #FF6600;
	border: 1px solid #FF6600;
	border-radius: 8px 0 0 8px;
}
#nav .nav-cont li{
	float: left;
	padding: 13px 25px;
	border-right: 1px solid #e3e4e8;
}
#nav .nav-cont li a{
	color: #666666;
}
#nav .nav-cont li a:hover{
	text-decoration: underline;
}
#nav .nav-cont .zx-cont{
	width: 121px;
	height: 100px;
	background: url(../img/zhengxin-bg.png) no-repeat left bottom;
	position: absolute;
	left: 0;
	top: 40px;
	display: none;
}
#nav .zhengxin{
	position: relative;
}

#nav .nav-cont .zx-cont a{
	display: block;
}
#nav .nav-cont .zx-cont a:hover{
	color: #FF6600;
}
#nav .zx-cont .zx-1{
	position: relative;
	left: 25px;
	top: 30px;
}
#nav .zx-cont .zx-2{
	position: relative;
	left: 25px;
	top: 48px;
}

/***3、主体*****/
#main{
	width: 100%;
}
#main .main-cont{
	width: 990px;
	margin: 10px auto;
}
#main .main-cont .main-sec3{
	margin-top: 10px;
}

#main .main-l{
	float: left;
	width: 710px;
}
#main .main-l li{
	width: 700px;
	line-height: 34px;
	padding-left: 10px;
}
#main .main-l li:hover a{
	color: #FF6600;
}
#main .main-l li h3 b{
	font-size: 18px;
	float: left;
	color: #fe6e2d;
	margin-top: 5px;
}
#main .main-l li h3 a{
	color: #666666;
	font-size: 14px;
	float: right;
	padding: 5px 10px;
	background: #e3e4e8;
}
#main .main-l li span,a{
	display: inline-block;
	color: #666666;
	font-size: 14px;
}
#main .main-l li .name{
	width: 140px;
}
#main .main-l li .deta{
	width: 190px;
}
#main .main-l li .time{
	width: 100px;
}
#main .main-l li .genre{
	width: 110px;
}
#main .main-l li .source{
	width: 80px;
}
#main .main-l li .status{
	width: 50px;
}

/*右边*/
#main .main-r{
	float: right;
	width: 270px;
}

/*sec1*/
#main .main-r .complain{
	border-top: 5px solid #3397da;
	border-bottom: 5px solid #2c81ba;
	border-radius: 5px;
}
#main .main-r .complain a{
	display: inline-block;
	width: 270px;
	background: #3397da;
	color: white;
	text-align: center;
	padding: 5px 0;
	font-size: 18px;
}

/*sec2*/
#main .main-r .search{
	width: 268px;
	height: 36px;
	border: 1px solid #e3e4e8;
	border-bottom: 5px solid #E3E4E8;
	border-radius: 5px;
	margin: 10px 0;
}
#main .main-r .search input{
	width: 208px;
	padding-left: 10px;
	height: 36px;
	font-size: 14px;
	border: 0;
}
#main .main-r .search span{
	float: right;
	height: 34px;
	background: #ff6600;
	border: 1px solid #FF6600;
	border-radius: 3px;
	box-shadow: 1px 4px #FF6600;
}
#main .main-r .search a{
	font-size: 14px;
	display: inline-block;
	padding: 8px 9px;
	color: white;
}

/*sec3*/
/*共同样式common*/
#main .main-r .common{
	border-radius: 5px 0 0 0;
	background: #f0f2f5;
	border-bottom: 3px solid #e3e4e8;
}
#main .main-r .common h5{
	float: left;
	font-size: 16px;
	color: #ff6600;
	padding: 10px 10px;
}
#main .main-r .common span{
	float: right;
	height: 43px;
	width: 52px;
	background: #e3e4e8;
	border-radius: 0 5px 0 0;
}
#main .main-r .common span a{
	font-size: 14px;
	color: #666666;
	display: block;
	height: 43px;
	width: 52px;
	line-height: 43px;
	text-align: center;
}
#main .main-r .common span a:hover{
	color: #FF6600;
	text-decoration: underline;
}

/*sec4*/
#main .main-r .list-t{
	width: 270px;
	border-bottom: 2px solid #e3e4e8;
}
#main .main-r .list-t .shopName{
	float: left;
	width: 130px;
	font-size: 14px;
	color: #666666;
	line-height: 24px;
	margin-left: 40px;
	font-weight: 600;
}
#main .main-r .list-t .score{
	float: left;
	font-size: 14px;
	color: #666666;
	line-height: 24px;
	margin-left: 10px;
	font-weight: 600;
}

/*sec5*/
#main .main-r .shops{
	padding-bottom: 10px;
	border-bottom: 2px solid #e3e4e8;
	border-radius: 0 0 4px 4px;
}
#main .main-r .shops li{
	width: 270px;
	line-height: 20px;
}
#main .main-r .shops .special i{
	background: #FF6600;
}
#main .main-r .shops li i{
	display: inline-block;
	width: 15px;
	height:15px;
	margin: 0 12px;
	background: #77afe9;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
}
#main .main-r .shops li a{
	display: inline-block;
	width: 130px;
	font-size: 12px;
	color: #666666;
}
#main .main-r .shops li span{
	display: inline-block;
	color: #666666;
	font-size: 12px;
}
/*sec6*/
#main .main-r .law{
	padding-bottom: 20px;
	border-bottom: 3px solid #e3e4e8;
	border-radius: 3px;
	background: #f6f6f6;
	margin: 10px 0;
}
#main .main-r .law img{
	margin: 7px 0 0 10px;
}
#main .main-r .law p {
	width: 250px;
	line-height: 20px;
	color: #666666;
	font-size: 12px;
	padding-left: 10px;
}

/*sec7*/
#main .main-r .annunciate{
	background: #f6f6f6;
	border-bottom: 3px solid #e3e4e8;
	border-radius: 5px;
	padding-bottom: 8px;
}
#main .main-r .annunciate li{
	width: 270px;
	border-bottom: 1px solid #e3e4e8;
}
#main .main-r .annunciate li h3{
	font-size: 16px;
	width: 250px;
	color: #FF6600;
	padding-left: 20px;
	margin: 5px 0;
}
#main .main-r .annunciate li p{
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	padding-left: 10px;
	text-indent: 24px;
}
#main .main-r .annunciate li p a{
	color: #3397da;
}
#main .main-r .annunciate li p a:hover{
	text-decoration: underline;
}

/***4、链接****/
#link{
	width: 100%;
}
#link .link-cont{
	width: 990px;
	margin: 0 auto;
}
.link-cont ul{
	width: 1100px;
	margin: 30px 0 20px;
}
.link-cont li{
	float: left;
	width: 80px;
	margin-right: 50px;
}
.link-cont li p{
	text-align: center;
	padding: 5px;
}
.link-cont li:hover a{
	text-decoration: underline;
	color: #FF6600;
}

/*5、底部*/
#bottom{
	width: 100%;
}
#bottom .bottom-cont{
	width: 950px;
	margin: 10px auto 0;
	border-top: 1px solid #dbdbdb;
}
#bottom .bottom-cont p{
	line-height: 46px;
	font-size: 13px;
	text-align: center;
	color: #444444;
}
#bottom .bottom-cont p a{
	color: #444444;
}
#bottom .bottom-cont p a:hover{
	text-decoration: underline;
	color: #FF6600;
}
