/*4、banner*/
#banner{
	width: 100%;
}
#banner .banner-cont{
	width:950px;
	margin: 10px auto;
}
#banner .banner-cont .img{
	float: left;
}
#banner .banner-cont .time{
	float: right;
	width: 310px;
	height: 200px;
	border: 1px solid #d9d9de;
}
#banner .banner-cont .time h3{
	line-height: 26px;
	background: #f6f6f6;
	font-size: 14px;
	color: #666666;
	padding-left: 10px;
	border-bottom: 1px solid #d9d9de;
}
#banner .banner-cont .time h3 span{
	display:inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;
	background: url(../img/ico_stor1.gif) no-repeat;
}
#banner .banner-cont .time ul{
	width: 300px;
	padding: 0 5px;
}
#banner .banner-cont .time li{
	width: 300px;
	line-height: 33px;
	font-size: 13px;
	border-bottom: 1px dashed #d9d9de;
}

/*5、主体*/
#main{
	width: 100%;
}
#main .main-cont{
	width: 950px;
	margin: 0 auto;
}
#main .main-cont .section1,.section2,.section3{
	margin-bottom: 10px;
}
#main .main-cont .sec-l{
	float: left;
}
#main .main-cont .sec-r{
	float: right;
}
#main .main-cont .content{
	width: 465px;
	border: 1px solid #d9d9de;
}
#main .main-cont .content h3{
	line-height: 30px;
	color: #666666;
	font-size: 14px;
	background: #f6f6f6;
}
#main .main-cont .content h3 b{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/ico_stor1.gif) no-repeat 0 -20px;
	margin: 0 5px;
}
#main .main-cont .content p{
	width: 385px;
	background: #f6f6f6;
	line-height: 24px;
	font-size: 14px;
	color: #999999;
	padding: 0 40px;
	border-top: 1px solid #d9d9de;
}
#main .main-cont .content ul{
	padding: 0 10px;
	width: 445px;
}
#main .main-cont .content li{
	width: 415px;
	padding-right: 30px;
	border-bottom: 1px dashed #d9d9de;
	line-height: 28px;
}
#main .main-cont .content li .special{
	background: #cc0000;
}
#main .main-cont .content li  i{
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 12px;
	background: #999999;
	color: white;
	text-align: center;
	line-height: 16px;
	margin: 0 5px;
}
#main .main-cont .content li em{
	float: right;
	font-size: 13px;
	color: #666666;
}
#main .main-cont .content li a{
	font-size: 14px;
	color: #3366cc;
}
#main .main-cont .content li a:hover{
	text-decoration: underline;
}
#main .main-cont .content .full{
	line-height: 36px;
	background: #f6f6f6;
	text-align: center;
}
#main .main-cont .content .full a{
	color: #999999;
	font-size: 18px;
}
#main .main-cont .content .full a:hover{
	text-decoration: underline;
}

/****6、信息*****/
#information{
	width: 100%;
}
#information .info-cont{
	width: 950px;
	margin: 0 auto;
	border: 1px solid #d9d9de;
}
#information .info-cont h3{
	width: 950px;
	line-height: 30px;
	background: #f6f6f6;
	border-bottom: 1px solid #d9d9de;
	color: #666666;
	font-size: 14px;
}
#information .info-cont h3 span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/ico_stor1.gif) no-repeat 0 -263px;
	margin-left: 10px;
	vertical-align: middle;
}
#information .deta li{
	float: left;
	width: 160px;
	margin: 20px 10px;
}
#information .deta li a{
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
}
#information .deta li a:hover{
	text-decoration: underline;
	color: #FF6600;
}
#information .deta li .img2016{
	width: 160px;
	height: 135px;
	background: url(../img/rank-2016-1.jpg);
}
#information .deta li .img2016:hover{
	background: url(../img/rank-2016-2.jpg);
}
#information .deta li .img2015{
	width: 160px;
	height: 135px;
	background: url(../img/rank-2015-1.png);
}
#information .deta li .img2015:hover{
	background: url(../img/rank-2015-2.png);
}
#information .deta li .img2014{
	width: 160px;
	height: 135px;
	background: url(../img/rank-2014-1.jpg);
}
#information .deta li .img2014:hover{
	background: url(../img/rank-2014-2.jpg);
}
#information .deta li .img2013{
	width: 160px;
	height: 135px;
	background: url(../img/rank-2013-1.png);
}
#information .deta li .img2013:hover{
	background: url(../img/rank-2013-2.png);
}
#information .deta li .img2012{
	width: 160px;
	height: 135px;
	background: url(../img/rank-2012-1.png);
}
#information .deta li .img2012:hover{
	background: url(../img/rank-2012-2.png);	
}


/*7、底部*/
#bottom{
	width: 100%;
}
#bottom .bottom-cont{
	width: 950px;
	margin: 10px auto 0;
	border-top: 1px solid #dbdbdb;
}
#bottom .bottom-cont p{
	line-height: 46px;
	font-size: 13px;
	text-align: center;
	color: #444444;
}
#bottom .bottom-cont p a{
	color: #444444;
}
#bottom .bottom-cont p a:hover{
	text-decoration: underline;
	color: #FF6600;
}